/* navigation menu styling starts here */

/* logo styling */

.logo {
    width: 225px;
    height: 81.5px;
}

/* searchbar styling */

.searchbar {
    grid-column-start: 2;
    grid-column-end: 5;
    padding-top: 3em;
}

/* registration styling */

.registration {
    padding-top: 3em;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.basket {
    padding-top: 3em;
}

a {
    text-decoration: none;
}

/* navigation container styling */

nav {
    position: fixed;
    padding-bottom: 2em;
    overflow: hidden;
    width: 100%;
    top: 0;
}

.grid-container-top {
    display: flex;
    grid-template-columns: auto auto auto auto;
    grid-gap: 6em;
    background-color: white;
    margin: 0 auto;
    margin-right: auto;
    margin-left: auto;
    margin-left: 5em;
    margin-right: 5em;
    left: 0;
    top: 0;
}

html {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: 0px;
}

.grid-container {
    background-color: white;
}

.grid-container-top>div {
    padding-left: 2em;
    padding-right: 2em;
}

.grid-item-registration {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item-registration>.registration {
    padding-left: 1em;
    padding-right: 1em;
}

.grid-container-bottom>.nav-links {
    padding-top: 1em;
    margin-left: 3em;
    margin-right: 3em;
    padding-bottom: 1em;
    color: black;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(-45deg, #f27b7f, #da942c);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    padding-left: 2.5em;
    padding-right: 2.5em;
    color: white;
    line-height: 2em;
}

.nav-links>a:hover {
    text-align: center;
    color: white;
    background-color: black;
    transition: 500ms;
    border-radius: 20px;
}

.grid-container-bottom>.nav-links>a {
    padding-left: 2.5em;
    padding-right: 2.5em;
    color: white;
}

/* Navigation menu styling ends here */

/* Main container styling starts here */

main {
    padding-top: 1em;
    width: 80%;
    margin: 0 auto;
    max-width: inherit;
}

/* Setting the view height to full screen  */

body, html {
    height: 100%;
}

/* The hero image styling */

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/web-banner-asics-gel-kayano-5-og.jpg");
    z-index: -1;
    /* setting the height of the hero */
    height: 66vh;
    /* margining for alignment with the nav */
    margin-top: 10em;
    margin-right: 2em;
    margin-left: 3em;
    /* positioning the hero to fit the center of the screen */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

/* making the text display at the center of the image */

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
}

/* sign-up box */

.subscription {
    margin: 0 auto;
    position: relative;
    z-index: -1;
}

.subscription-container {
    align-items: center;
    margin-bottom: 6px;
    text-align: center;
}

/* Grid-container styling starts here */

.grid-container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4em;
    margin-top: 2em;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    padding-top: 2em;
    margin: 0 auto;
    justify-content: center;
}

.image {
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
}

#imgs {
    width: 100%;
}

.grid-container1>div {
    background-color: rgba(21, 21, 27, 0.06);
}

footer {
    background: linear-gradient(-45deg, #f27b7f, #da942c);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    margin-left: 3em;
    margin-right: 2em;
}

/* grid container for the footer starts here */

.grid-container-footer {
    display: inline-grid;
    grid-gap: 0em;
    margin-left: 519px;
    margin-right: 33em;
    left: 0;
    top: 0;
}

}

/* grid container for the footer ends here */

/* grid-container styling ends here */

/* grid-item images are inserted as background images */

.grid-item1 {
    background-image: url("../images/nike-air-jordan-future--camo.jpg");
    background-repeat: no-repeat;
    height: 167px;
    width: 250px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    font: bold 15px Sans-Serif;
    color: white;
    text-align: center;
    z-index: -1;
    position: relative;
    left: -5px;
    top: 15px;
}

.grid-item2 {
    background-image: url("../images/Nike-Air_VaporMax-2019.jpg");
    background-repeat: no-repeat;
    height: 167px;
    width: 250px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    font: bold 15px Sans-Serif;
    color: white;
    text-align: center;
    z-index: -1;
    position: relative;
    left: -5px;
    top: 15px;
}

.grid-item3 {
    background-image: url("../images/nike-air-jordan-future--camo.jpg");
    background-repeat: no-repeat;
    height: 167px;
    width: 250px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    font: bold 15px Sans-Serif;
    color: white;
    text-align: center;
    z-index: -1;
    position: relative;
    left: -5px;
    top: 15px;
}

.grid-item4 {
    background-image: url("../images/ASICS\ WMNS\ Valentines\ Day\ Gel\ Saga.jpg");
    background-repeat: no-repeat;
    height: 167px;
    width: 250px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    font: bold 15px Sans-Serif;
    color: white;
    text-align: center;
    z-index: -1;
    position: relative;
    left: -5px;
    top: 15px;
}

.grid-item5 {
    background-image: url("../images/Nike-WMNS-Air-FORCE-1-SAGE-LOW-TRIPLE-WHITE.jpg");
    background-repeat: no-repeat;
    height: 167px;
    width: 250px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    font: bold 15px Sans-Serif;
    color: white;
    text-align: center;
    z-index: -1;
    position: relative;
    left: -5px;
    top: 15px;
}

.grid-item6 {
    background-image: url("../images/Vans-x-van-gogh-UA-classic-slip-on-skull.jpg");
    background-repeat: no-repeat;
    height: 167px;
    width: 250px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    font: bold 15px Sans-Serif;
    color: white;
    text-align: center;
    z-index: -1;
    position: relative;
    left: -5px;
    top: 15px;
}

.grid-item7 {
    background-image: url("../images/Peanuts\ x\ Diadora\ Mi\ Basket.jpg");
    background-repeat: no-repeat;
    height: 167px;
    width: 250px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    font: bold 15px Sans-Serif;
    color: white;
    text-align: center;
    z-index: -1;
    position: relative;
    left: -5px;
    top: 15px;
}

.grid-item8 {
    background-image: url("../images/asics-gel-lyte-v-sanze-mt--sand.jpg");
    background-repeat: no-repeat;
    height: 167px;
    width: 250px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    font: bold 15px Sans-Serif;
    color: white;
    text-align: center;
    z-index: -1;
    position: relative;
    left: -5px;
    top: 15px;
}

.grid-item9 {
    background-image: url("../images/asics-gel-saga-white-flash--yellow.jpg");
    background-repeat: no-repeat;
    height: 167px;
    width: 250px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    font: bold 15px Sans-Serif;
    color: white;
    text-align: center;
    z-index: -1;
    position: relative;
    left: -5px;
    top: 15px;
}

.grid-item11 {
    background-image: url("../images/adi-eqt-support-91-2018.jpg");
    background-repeat: no-repeat;
    height: 167px;
    width: 250px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    font: bold 15px Sans-Serif;
    color: white;
    text-align: center;
    z-index: -1;
    position: relative;
    left: -5px;
    top: 15px;
}

.grid-item12 {
    background-image: url("../images/Peanuts\ x\ Diadora\ B-Elite.jpg");
    background-repeat: no-repeat;
    height: 167px;
    width: 250px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    font: bold 15px Sans-Serif;
    color: white;
    text-align: center;
    z-index: -1;
    position: relative;
    left: -5px;
    top: 15px;
}

.grid-item13 {
    background-image: url("../images/Peanuts\ x\ Diadora\ Mi\ Basket.jpg");
    background-repeat: no-repeat;
    height: 167px;
    width: 250px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    font: bold 15px Sans-Serif;
    color: white;
    text-align: center;
    z-index: -1;
    position: relative;
    left: -5px;
    top: 15px;
}

.grid-item14 {
    background-repeat: no-repeat;
    height: 167px;
    width: 250px;
    text-align: center;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    font: bold 15px Sans-Serif;
    color: black;
    text-align: center;
    z-index: -1;
    position: relative;
    left: -5px;
    top: 15px;
}

.grid-item15 {
    background-repeat: no-repeat;
    height: 167px;
    width: 250px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    font: bold 15px Sans-Serif;
    color: black;
    text-align: center;
    z-index: -1;
    position: relative;
    left: -5px;
    top: 15px;
}

.grid-item16 {
    background-repeat: no-repeat;
    height: 167px;
    width: 250px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    font: bold 15px Sans-Serif;
    color: black;
    text-align: center;
    z-index: -1;
    position: relative;
    left: -5px;
    top: 15px;
}

/* grid-item 1-13 has background images ends here */

/* Footer grid item styling starts here */

.grid-item-footer {
    background-color: rgba(0, 0, 0, 0);
    margin: 1em auto;
}

/* green ribbon wrapper styling starts here */

.ribbon-wrapper-green {
    width: 79px;
    height: 83px;
    overflow: hidden;
    position: absolute;
    top: -2px;
    right: -2px;
}

.ribbon-green {
    text-align: center;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: #4CB420;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

/* green ribbon wrapper styling ends here */

/* red ribbon wrapper styling starts here */

.ribbon-wrapper-red {
    width: 79px;
    height: 83px;
    overflow: hidden;
    position: absolute;
    top: -2px;
    right: -2px;
}

.ribbon-red {
    text-align: center;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: rgb(218, 18, 18);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

/* red ribbon wrapper styling ends here */

/* Headings */

.hvr-bubble-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    margin-top: 3em;
    z-index: -1;
}

.hvr-bubble-bottom:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    border-style: solid;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    left: calc(50% - 10px);
    bottom: 0;
    border-width: 10px 10px 0 10px;
    border-color: #e1e1e1 transparent transparent transparent;
}

.hvr-bubble-bottom:hover:before, .hvr-bubble-bottom:focus:before, .hvr-bubble-bottom:active:before {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

.title {
    margin: 0 auto 0.2em auto;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-align: center;
}

.inputbox {
    border-radius: 25px;
    line-height: 1.8em;
}

/* Buttons styling */

button {
    line-height: 1.4;
    font-style: italic;
    color: #fff;
    background-color: #1bff86;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-anchor: middle;
    justify-items: end;
    background: linear-gradient(-45deg, #f27b7f, #da942c, #f27b7f);
    margin-top: 6px;
}

.title:hover {
    background: linear-gradient(-45deg, #f27b7f, #da942c);
    transition-duration: 1s;
    animation: cubic-bezier(.68, -0.55, .27, 1.55);
    animation-duration: 0s;
    animation-duration: 1.2s;
    color: white;
    border-radius: 12px;
    border-block: #adadad;
    @-webkit-keyframes title {
        25% {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
        75% {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }
    }
  
    /* Media Queries */
    /* @media screen (max-width: 1030px) {
        .grid-container1>div {
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 4em;
            margin-top: 2em;
        }
        .grid-item-registration>.registration {
            padding-left: 0.3em;
            padding-right: 0em;
            width: max-content;
        }
        .registration {
            padding-top: 4em;
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
        }
    } */
    @media screen (max-width: 768px) {
        /* Main container styling starts here */
        main {
            padding-top: 1em;
            width: 80%;
            max-width: inherit;
        }
        .grid-container1 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2em;
            margin-top: 2em;
            width: fit-content;
        }
        .grid-item1 {
            background-image: url("../images/nike-air-jordan-future--camo.jpg");
            background-repeat: no-repeat;
            height: 167px;
            width: 250px;
            box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
            font: bold 15px Sans-Serif;
            color: white;
            text-align: center;
            z-index: -1;
            position: relative;
            left: -5px;
            top: 15px;
        }
    }
    @media screen (max-width: 1020) {
        /* Main container styling starts here */
        main {
            padding-top: 1em;
            width: 85%;
            margin-left: 4.5em;
            margin-right: 5em;
        }
    }
    @media screen  (max-width: 697px) {
        .grid-container1 {
            display: grid;
            grid-template-columns: auto;
            grid-gap: 14em;
            margin-top: 2em;
        }
    }
    /* font-family: 'Audiowide', cursive;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Roboto', sans-serif; */