/* navigation menu styling starts here */

/* ===================== */
    /* logo styling */
/* ===================== */

.logo {
    width: 300px;
    height: 109px;
    
}

/* ===================== */
    /* searchbar styling */
/* ===================== */

.searchbar {
    grid-column-start: 2;
    grid-column-end: 5;
    padding-top: 3em;
}

    /* ===================== */
/* navigation container styling */
    /* ===================== */

.grid-container-top {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;

}

.grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
}
.grid-container1 > div {
    background-color: blue;
}
